/*Comentarios CSS*/
/*Reset*/
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
/*Agregar fuente descargada de Google Fonts*/
@font-face {
    font-family:"Arvo";
    src: url("../fonts/Arvo/Arvo-Regular.ttf");
}

.border {
    border: 1px solid gray;
 }
 /*Nombrar las areas*/
header{
    grid-area: logo;
    background-color:lightskyblue;
    text-align: center;
    padding: 5px;
}
#central{
    grid-area: productos;
    background-color:rgb(231, 241, 188);
    padding: 10px;
}
#publicidad1{
    grid-area: banner1; 
    padding: 10px;
}
#publicidad2{
    grid-area: banner2;
    padding: 10px;
}
.bannerPublicidad{
    width: 80%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

/*Menu Flex*/
.flexMenu {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.centralFlex {
    display: flex;
    flex-flow:nowrap;
}
/*Etiquetas simples y padres e hijos*/
article {
    background-color: #fff;
    border-radius: 4px;
    margin: 5px;
    text-align: center;
    font-size: 0.75rem;
    padding: 10px;
}
section div img{
    margin: 12% 12%;
    width: 80%;
    height: auto;
    border-left: solid 2px peru;
    border-top: solid 2px peru;
    border-right: solid 5px orangered;
    border-bottom: solid 5px orangered;
}
section h3{
    color:orangered;
}
/*Animación*/
.ofertaAnimada1{
    animation-name: tipo1;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
.ofertaAnimada2{
    animation-name: tipo2;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
.ofertaAnimada3{
    animation-name: tipo3;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
.ofertaAnimada4{
    animation-name: tipo4;
    animation-iteration-count: 1;
    animation-duration: 5s;
}
/*Keyframes para iniciar animación*/
@keyframes tipo1{
    /*Estructura compleja*/
    0%/*inicio*/{
        transform: translate(-500px, -500px);
        border-radius: 100%;
    }
    20%{border-radius: 80%;}
    40%{border-radius: 60%;}
    60%{border-radius: 40%;}
    80%{border-radius: 20%;}
    100%{border-radius: 5%;}
}
@keyframes tipo2{
    /*Estructura compleja*/
    0%/*inicio*/{
        transform: translate(500px, -500px);
        border-radius: 100%;
    }
    20%{border-radius: 80%;}
    40%{border-radius: 60%;}
    60%{border-radius: 40%;}
    80%{border-radius: 20%;}
    100%{border-radius: 5%;}
}
@keyframes tipo3{
    /*Estructura compleja*/
    0%/*inicio*/{
        transform: translate(-500px, 500px);
        border-radius: 100%;
    }
    20%{border-radius: 80%;}
    40%{border-radius: 60%;}
    60%{border-radius: 40%;}
    80%{border-radius: 20%;}
    100%{border-radius: 5%;}
}
@keyframes tipo4{
    /*Estructura compleja*/
    0%/*inicio*/{
        transform: translate(500px, 500px);
        border-radius: 100%;
    }
    20%{border-radius: 80%;}
    40%{border-radius: 60%;}
    60%{border-radius: 40%;}
    80%{border-radius: 20%;}
    100%{border-radius: 5%;}
}
/*----RESPONSIVE----*/
/*DESKTOP*/
@media (min-width: 1024px){
    
    body {
        height: 100vh;
        margin: 5px;
        font-family:"Arvo", sans-serif;
        background-color:khaki;   
    }
    body section span{
        justify-self:center;
        align-self:bottom;
        color:darkred;
        font-weight: bold;
    }
    /* GRIDS POR AREAS */
    #gridAreas{
        display: grid;
        grid-template-areas:
        /* 3 columnas y 4 filas */
        "logo menu menu"/* fila 1 */
        "menu2 productos banner1"/* fila 2 */
        "info productos banner2"/* fila 3 */
        "pie pie pie"/* fila 4 */
        ;
        /* Dimensiones */
        grid-template-columns: 15% auto 15%;
        grid-template-rows: 8fr 43fr 43fr 6fr;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
    #gridAreasOfertas{
        display: grid;
        grid-template-areas:
        /* 3 columnas y 4 filas */
        "logo menu menu"/* fila 1 */
        "menu2 productos banner1"/* fila 2 */
        "info productos banner2"/* fila 3 */
        "pie pie pie"/* fila 4 */
        ;
        /* Dimensiones */
        grid-template-columns: 15% auto 15%;
        grid-template-rows: 8fr 43fr 43fr 6fr;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
    /*titulo degradado animado*/
    .tituloDegradadoAnimado {
        font-size: 1.7rem;
        background: linear-gradient(-45deg, darkred, red, blue, darkblue);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: titulo1;
        animation-iteration-count: 1;
        animation-duration: 5s;
    }
    /*Animación*/
    @keyframes titulo1{
        /*Estructura simple*/

        from/*inicio*/{
            transform: translate(-200px);
            opacity: 0;
        }
        to /*final*/{
            transform: translate(0);
            opacity: 1;
        }
    } 
    .tituloGrande{
        font-size: 5x;
        text-orientation: sideways-right;
    }
    /*Menu principal*/
    nav{
        grid-area: menu;
        background-color:lightskyblue;  
        padding: 5px;
        font-size: 15px;
    }
    nav a{
        text-decoration:none;
        color:slateblue;
        font-weight: bold;
    }         
    nav li{
        display:inline-block;
        width:20%;
        background-color:#000;
        border:1px solid #000;
        text-align:center;
        position:relative;
        border-radius: 5px;
    }         
    nav li:hover{
        background-color: whitesmoke;
    }         
    nav ul li{
        background-color:rgb(243, 175, 116);
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }
    /*Menu lateral*/
    #menuSecundario{
        grid-area: menu2;   
    }
    aside ul li{
        padding: 8px;
        font-size: 20px;
        font-weight: bold;
        color:seagreen
    }
    aside ul li:hover{
        font-size: 150%;
    }
    aside a{
        color:darkslateblue; 
        text-align: center;
        text-decoration:none;
        width: 80%;
    }
    /*banner lateral Info*/
    #info{
        grid-area: info;  
        padding: 10px;
        font-size: 15px;
        font-style: italic;
        color:rgb(8, 114, 8);
    }
    /*Grillas centrales*/
    .gridCentral{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 2fr 38fr 11fr 38fr 11fr;
        border: 4px solid gray;
    }
    .gridCentralSections{
        display: grid;
        grid-template-columns:repeat(3, 33fr);
        justify-self: center;
        border: 4px solid gray;
        width: 100%;
    }
    .subtitleProd{
        text-align: center;
        color:rgb(206, 6, 6);
        font-weight: bold;  
    }
    section a img{
        margin-left: 12%;
        width: 70%;
        height: auto;
        border-left: solid 2px lightskyblue;
        border-top: solid 2px lightskyblue;
        border-right: solid 5px royalblue;
        border-bottom: solid 5px royalblue;
    }
    /*Pie de pagina*/
    footer{
        grid-area: pie;
        background-color:lightskyblue;
        text-align: center;

    }
}

 /*TABLET*/
 @media (min-width: 481px) and (max-width: 1023px){
 
    body {
        height: 100vh;
        margin: 5px;
        font-family:"Arvo", sans-serif;
        background-color:greenyellow;   
    }
    body section span{
        justify-self:center;
        align-self:bottom;
        color:firebrick;
        font-weight: bold;
    }
    /* GRIDS POR AREAS */
    #gridAreas{
        display: grid;
        grid-template-areas:
        /* 3 columnas y 4 filas */
        "logo menu menu"/* fila 1 */
        "menu2 productos banner1"/* fila 2 */
        "info productos banner2"/* fila 3 */
        "pie pie pie"/* fila 4 */
        ;
        /* Dimensiones */
        grid-template-columns: 20% auto 20%;
        grid-template-rows: 8fr 43fr 43fr 6fr;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
    #gridAreasOfertas{
        display: grid;
        grid-template-areas:
        /* 3 columnas y 4 filas */
        "logo menu menu"/* fila 1 */
        "menu2 productos banner1"/* fila 2 */
        "info productos banner2"/* fila 3 */
        "pie pie pie"/* fila 4 */
        ;
        /* Dimensiones */
        grid-template-columns: 20% auto 20%;
        grid-template-rows: 8fr 43fr 43fr 6fr;
        grid-column-gap: 4px;
        grid-row-gap: 4px;
    }
    /*titulo degradado animado*/
    .tituloDegradadoAnimado {
        font-size: 1.7rem;
        background: linear-gradient(-45deg, greenyellow, green, orange, orangered);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: titulo1;
        animation-iteration-count: 1;
        animation-duration: 5s;
    }
    /*Animación*/
    @keyframes titulo1{
        /*Estructura simple*/

        from/*inicio*/{
            transform: translate(-200px);
            opacity: 0;
        }
        to /*final*/{
            transform: translate(0);
            opacity: 1;
        }
    } 
    .tituloGrande{
        font-size: 18px;
        color: rgb(206, 6, 6);
        text-orientation: sideways-right;
    }
    /*Menu principal*/
    nav{
        grid-area: menu;
        background-color:lightskyblue;  
        padding: 3px;
        font-size: 12px;
    }
    nav a{
        text-decoration:none;
        color:rgb(51, 43, 107);
        font-weight: bold;
    }         
    nav li{
        display:inline-block;
        width:22%;
        background-color:#000;
        border:1px solid #000;
        text-align:center;
        position:relative;
        border-radius: 5px;
    }         
    nav li:hover{
        background-color:plum;
    }         
    nav ul li{
        background-color:rgb(243, 175, 116);
        display: inline-block;
        padding: 5px;
        text-decoration: none;
    }
    /*Menu lateral*/
    #menuSecundario{
        grid-area: menu2;   
    }
    aside ul li{
        padding: 5px;
        font-size: 15px;
        font-weight: bold;
    }
    aside ul li:hover{
        font-size: 120%;
    }
    aside a{
        color: rgb(8, 114, 8);
        text-align: center;
        text-decoration:none;
        width: 80%;
    }
    /*banner lateral Info*/
    #info{
        grid-area: info;  
        padding: 5px;
        font-size: 12px;
        font-style: italic;
        font-weight: bold;
        color:rgb(51, 43, 107);
    }
    /*Grillas centrales*/
    .gridCentral{
        display: grid;
        grid-template-columns: 2fr 2fr;
        grid-template-rows: 40fr 10fr 40fr 10fr;
        border: 2px solid red;
    }
    .gridCentralSections{
        display: grid;
        grid-template-columns:repeat(3, 33fr);
        justify-self: center;
        border: 2px solid red;
        width: 100%;
    }
    .subtitleProd{
        text-align: center;
        color:rgb(206, 6, 6);
        font-weight: bold;  
    }
    section a img{
        margin-left: 10%;
        width: 80%;
        height: auto;
        border-left: solid 2px lightskyblue;
        border-top: solid 2px lightskyblue;
        border-right: solid 5px royalblue;
        border-bottom: solid 5px royalblue;
    }
    /*Pie de pagina*/
    footer{
        grid-area: pie;
        background-color:grey;
        text-align: center;

    }
}

/*SMARTPHONE*/
@media (max-width: 480px){
 
    body {
        height: 100vh;
        margin: 0px;
        font-family:"Arvo", sans-serif;
        background-color:mediumpurple  
    }
    body section span{
        justify-self:center;
        align-self:bottom;
        color:darkblue;
        font-size: 12px;
        font-weight: bold;
    }
     /* GRIDS POR AREAS */
     #gridAreas{
        display: grid;
        grid-template-areas:
        /* 2 columnas y 7 filas */
        "logo logo"/* fila 1 */
        "menu menu"/* fila 2 */
        "menu2 productos"/* fila 3 */
        "banner1 productos"/* fila 4 */
        "banner2 productos"/* fila 5 */
        "info productos"/* fila 6 */
        "pie pie"/* fila 7 */
        ;
        /* Dimensiones */
        grid-template-columns: 25% auto;
        grid-template-rows: 5fr 10fr 20fr 500px 500px 500px 5fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    #gridAreasOfertas{
        display: grid;
        grid-template-areas:
        /* 2 columnas y 7 filas */
        "logo logo"/* fila 1 */
        "menu menu"/* fila 2 */
        "menu2 productos"/* fila 3 */
        "banner1 productos"/* fila 4 */
        "banner2 productos"/* fila 5 */
        "info productos"/* fila 6 */
        "pie pie"/* fila 7 */
        ;
        /* Dimensiones */
        grid-template-columns: 25% auto;
        grid-template-rows: 8fr 43fr 43fr 6fr;
        grid-column-gap: 0px;
        grid-row-gap: 0px;
    }
    .tituloDegradadoAnimado {
        font-size: 2rem;
        background: linear-gradient(80deg, yellow,orange,darkred);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        animation-name: titulo1;
        animation-iteration-count: 1;
        animation-duration: 8s;
    }
    /*Animación*/
    @keyframes titulo1{
        /*Estructura simple*/

        from/*inicio*/{
            transform: translate(-200px);
            opacity: 0;
        }
        to /*final*/{
            transform: translate(0);
            opacity: 1;
        }
    } 
    .tituloGrande{
        font-size: 22px;
        color: rgb(206, 6, 6);
        text-orientation: sideways;
    }
     /*Menu principal*/
     nav{
        grid-area: menu;
        background-color:lightskyblue;  
        padding: 0px;
        font-size: 12px;
    }
    nav a{
        text-decoration:none;
        color:maroon;
        font-weight: bold;   
    }         
    nav li{
        display:inline-block;
        width:24%;
        background-color:#000;
        border:1px solid #000;
        text-align:center;
        position:relative;
        border-radius: 6px;
    }         
    nav li:hover{
        background-color: rgb(212, 248, 9);
    }         
    nav ul li{
        background-color:rgb(243, 175, 116);
        display: inline-block;
        padding: 2px;
        text-decoration: none;
    }
    /*Menu lateral*/
    #menuSecundario{
        grid-area: menu2;   
    }
    aside ul li{
        padding: 10px;
        font-size: 16px;
        font-weight: bold;
    }
    aside ul li:hover{
        font-size: 105%;
    }
    aside a{
        color:rgb(206, 6, 6);
        text-align: center;
        text-decoration:none;
        width: 80%;
    }
    /*banner lateral e Info*/
    #info{
        grid-area: info;  
        padding: 2px;
        font-size: 10px;
        font-weight: bold;
        color:darkred
    }
    /*Grillas centrales*/
    .gridCentral{
        display: grid;
        justify-self: center;
        grid-template-columns: 1fr 1fr;
        border: 2px solid red;
    }
    .gridCentralSections{
        display: grid;
        grid-template-columns:1fr;
        justify-self: center;
        border: 2px solid red;
        width: 100%;
        font-size: 20px;
    }
    .subtitleProd{
        text-align: center;
        color:rgb(88, 3, 109);
        font-weight: bold;  
    }
    section a img{
        margin-left: 10%;
        width: 70%;
        height: auto;
        border-left: solid 2px red;
        border-top: solid 2px red;
        border-right: solid 5px brown;
        border-bottom: solid 5px brown;
    }
    /*Pie de pagina*/
    footer{
        grid-area: pie;
        background-color:lightskyblue;
        text-align: center;
        font-size: 16px;

    }
}

